<!DOCTYPE html>

<html amp>

{% include head.html %}

<body class="d-flex flex-column h-100">
<!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T52SW9S"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <main class="flex-shrink-0 container mt-5">
  {% include navbar.html %}
  {{ content }}
  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>