---
layout: page
---

<h1><b>{{ page.title }}</b></h1>

<p class="article-metadata text-muted">
    <time id="date"></time> | 
  <b>
  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    کمتر از یک دقیقه
  {% else %}
    برای مطالعه این متن به {{ words | divided_by:180 }} دقیقه زمان نیاز دارید
  {% endif %}
  </b>

  <br>

  {% if page.tags != empty %}
    برچسب‌ها: 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/tags#' | relative_url }}">
      <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
    </a>
    {% endfor %}
  {% endif %}

</p>

{{ content }}

<script>
    var date = '{{page.date}}'
    moment.loadPersian(true);
    var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
    document.getElementById("date").innerText = jalaliDate
</script>

<footer>
  این نوشتار <b>با مجوز متن باز منتشر شده است.</b></br>
  اگر متوجه اشتباه یا نکته اصلاحی‌ای شده‌اید می‌توانید در گیت‌هاب آن‌را بهبود بخشید. {% github_edit_link "گیت‌هاب" %}.
</footer>